#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                             &mo 1
                &kp A    &kp G    &kp H
                &kp B    &kp F    &kp I
                &kp C    &kp D    &kp J
            >;
        }; 

        bt_layer {
            bindings = <
                                &none
                &bt BT_SEL 2    &bt BT_SEL 1    &bt BT_CLR
                &none           &kp W           &none
                &none           &none           &none
            >;
        };
    };
};