#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&right_encoder {
    status = "okay";
};

/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                         &kp I
                &kp A    &kp G    &kp H
                &kp B    &kp F    &kp I
                &kp C    &kp D    &kp J
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

        };

        bt_layer {
            bindings = <
                                &none
                &bt BT_SEL 2    &bt BT_SEL 1    &bt BT_CLR
                &none           &kp W           &none
                &none           &none           &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

        };
    };
};