#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                             &mo 1
                &kp KP_NUMBER_A    &kp KP_NUMBER_G    &kp KP_NUMBER_H
                &kp KP_NUMBER_B    &kp KP_NUMBER_F    &kp KP_NUMBER_I
                &kp KP_NUMBER_C    &kp KP_NUMBER_D    &kp KP_NUMBER_J
            >;
        }; 

        bt_layer {
            bindings = <
                                &none
                &bt BT_SEL 2    &bt BT_SEL 1    &bt BT_CLR
                &none           &none           &none
                &none           &none           &none
            >;
        };
    };
};